<form action="/get_file" method="post" >
  <input type="radio"   style="vertical-align: middle" id="Zakat Projects" name="category" value="Zakat Projects">
  <label for="Zakat Projects">Zakat Projects</label><br>
  <input type="radio" style="vertical-align: middle" id="Self Relience" name="category" value="Self Relience">
  <label for="Self Reliance">Self Reliance</label><br>
  <input type="radio" style="vertical-align: middle" id="Scholarships" name="category" value="Scholarship">
  <label for="Scholarships">Scholarships</label><br>
  <input type="radio" style="vertical-align: middle" id="Treatment" name="category" value="Treatment">
  <label for="Treatment">Treatment</label><br>
  <input type="radio" style="vertical-align: middle" id="Flood" name="category" value="Flood">
  <label for="Flood">Flood</label><br>
  <input type="radio" style="vertical-align: middle" id="Food" name="category" value="Food">
  <label for="Food">Food</label><br>
    
  <input type="radio" style="vertical-align: middle" id="Blanket Distribution" name="category" value="Blanket Distribution">
  <label for="Blanket Distribution">Blanket Distribution</label><br>
  
    <button type="submit">
    
  
  </button>
    
  
  </form>